// fonts
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Outfit:wght@400;700;900&display=swap");
$body-font: "Lato";
$accent-font: "Outfit";

// colors
$blue: rgb(39, 88, 144);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$orange: rgb(255, 89, 29);

.navbar {
    position: fixed;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: $black;
    .burger {
        width: 40px;
        height: 40px;
        position: relative;
        top: 6px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        span {
            transition: all 0.2s ease-out;
            display: block;
            width: 32px;
            height: 4px;
            margin-bottom: 5px;
            background: $white;
            border-radius: 3px;
        }
    }

    .logoWrap {
        width: 60%;
        max-width: 12rem;
        img {
            width: 100%;
        }
    }
}
.burgerToggle {
    span {
        position: relative;
    }
    span:nth-child(1) {
        top: 9px;
        transform: rotate(45deg);
    }
    span:nth-child(2) {
        opacity: 0;
    }
    span:nth-child(3) {
        bottom: 9px;
        transform: rotate(-45deg);
    }
}

.navMenu {
    position: fixed;
    top: 5rem;
    height: calc(100vh - 5rem);
    transform: translateX(-100%);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style-type: none;
    font-family: $body-font;
    font-weight: 900;
    color: $white;
    background-color: $black;
    transition: all 0.2s ease-out;
    li {
        padding: 2rem 1rem 0 1rem;
    }
}
.displayMenu {
    transform: translateX(0%);
}

.trainersLink,
.galleryLink {
    position: relative;
    bottom: 6rem;
}

.section {
    width: 100%;
    font-family: $body-font;
    font-weight: 700;
    background-color: $blue;
    color: $white;
}

.home {
    padding-top: 5rem;
    .imgWrap {
        width: 100%;
        img {
            width: 100%;
        }
    }
}

.mission {
    padding: 1rem;
    display: grid;
    gap: 1rem;
    h3:nth-child(1) {
        grid-column: 1 / 1;
    }
    h3:nth-child(2) {
        display: flex;
        align-self: flex-end;
        grid-column: 1 / 2;
        color: $orange;
        font-weight: 900;
    }
    h1 {
        grid-row: 1 / 3;
        grid-column: 2 / 2;
        font-family: $accent-font;
        font-weight: 900;
        font-size: 1.5rem;
    }
    .services {
        grid-row: 3 / 3;
        grid-column: 1 / 3;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        div {
            padding: 0rem 1rem 1rem 1rem;
            p {
                padding-bottom: 0.5rem;
                text-align: center;
                font-weight: 700;
            }
        }
    }
}

.trainers {
    h1 {
        text-align: center;
        font-family: $accent-font;
        font-size: 1.5rem;
    }
    .profile {
        padding: 1rem 1rem 0 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            border-radius: 50%;
        }
        p {
            padding: 0.5rem 1rem 1rem 1rem;
        }
    }
}

.gallery {
    padding: 1rem;
    h1 {
        text-align: center;
        font-family: $accent-font;
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }
    .photos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        img {
            padding-bottom: 1rem;
        }
    }
}

.info {
    padding: 1rem 1rem 2rem 1rem;
    h1 {
        text-align: center;
        font-family: $accent-font;
        font-size: 1.5rem;
    }
    .infoBlock {
        padding: 1rem 1rem 0 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        h3 {
            min-width: 6rem;
            color: $orange;
        }
        p {
            padding-left: 1rem;
        }
    }
}

.footer {
    height: 4rem;
    background: $black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    a img {
        width: 2rem;
        height: 2rem;
        filter: invert(1);
    }
    a:last-child img {
        width: 2.5rem;
        height: 2.5rem;
    }
}

@media (min-width: 768px) {
    .navbar {
        padding: 0 2rem;
        justify-content: space-between;
    }
    .navMenu {
        font-size: 1.5rem;
    }

    .mission {
        padding: 2rem;
        h3:nth-child(1) {
            font-size: 2rem;
        }
        h3:nth-child(2) {
            font-size: 2rem;
        }
        h1 {
            grid-row: 1 / 3;
            grid-column: 2 / 2;
            font-family: $accent-font;
            font-weight: 900;
            font-size: 3rem;
        }
        .services div {
            padding-top: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p {
                font-size: 1.5rem;
            }
            img {
                width: 16rem;
            }
        }
    }

    .trainers {
        padding-top: 2rem;
        h1 {
            width: 100%;
            font-size: 2rem;
        }
        .profiles {
            padding-top: 1rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        .profile {
            width: 50%;
        }
    }

    .gallery {
        padding-top: 2rem;
        h1 {
            font-size: 2rem;
        }
        .photos {
            justify-content: center;
            align-items: center;
            img {
                padding: 1rem;
            }
        }
    }

    .info {
        display: flex;
        flex-wrap: wrap;

        h1 {
            width: 100%;
            font-size: 2rem;
        }
        .infoBlock {
            width: 50%;
        }
        h3 {
            font-size: 1.5rem;
            width: 9rem;
        }
        p {
            font-size: 1.2rem;
        }
    }
}

@media (min-width: 1024px) {
    .home {
        display: flex;
        align-self: center;
        justify-content: center;
        .imgWrap{
            width: 85%;
        }
    }
    .gallery {
        display: flex;
        flex-direction: column;
        h1 {
            width: 100%;
        }
        .photos {
            align-self: center;
            justify-self: self;
            width: 80%;
        }
    }
    .trainers {
        .profile {
            width: 33%;
        }
    }
}

@media (min-width: 1440px) {
    .navbar {
        height: 6rem;
        padding: 1rem 4rem;
        .burger {
            width: 48px;
            height: 48px;
            top: 6px;
            span {
                width: 48px;
                height: 6px;
                margin-bottom: 8px;
            }
        }
    }

    .burgerToggle {
        span:nth-child(1) {
            top: 14px;
        }
        span:nth-child(3) {
            bottom: 13px;
        }
    }
    
    .navMenu {
        font-size: 2rem;
    }

    .mission {
        padding: 4rem;
        h3:nth-child(1) {
            font-size: 4rem;
        }
        h3:nth-child(2) {
            font-size: 4rem;
        }
        h1 {
            grid-row: 1 / 3;
            grid-column: 2 / 2;
            font-family: $accent-font;
            font-weight: 900;
            font-size: 6rem;
        }
        .services div {
            padding-top: 4rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p {
                font-size: 3rem;
            }
            img {
                width: 20rem;
            }
        }
    }

    .trainers {
        padding-top: 4rem;
        h1 {
            font-size: 4rem;
        }
        .profiles{
            align-items: flex-start;
        }
        .profile {
            width: 33%;
            img {width: 16rem;}
            p {
                font-size: 1.2rem;
            }
        }
    }

    .gallery {
        padding-top: 4rem;
        h1 {
            font-size: 4rem;
        }
        .photos {
            img {
                width: 20rem;
            }
        }
    }

    .info {
        padding: 4rem 0;
        h1 {
            font-size: 4rem;
        }
        h3 {
            font-size: 3rem;
            width: 15rem;
        }
        p {
            font-size: 1.5rem;
        }
    }
}